* fonts.css */

@font-face {
    font-family: 'GothamBold';
        src: url('https://hillsong-latam.github.io/styles/encounterfest2024/Gotham-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'PetaleMedium';
    src: url('https://hillsong-latam.github.io/styles/encounterfest2024/Petale-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

  * {
   font-family: 'GothamBold', sans-serif!important;
  }

/* Ejemplo de uso */
body {
    font-family: 'PetaleMedium', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PetaleMedium', sans-serif!important;
}
