@font-face {
    font-family: 'GothamBold';
    src: url('https://hillsong-latam.github.io/styles/encounterfest2024/Gotham-Bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'PetaleMedium';
    src: url('https://hillsong-latam.github.io/styles/encounterfest2024/Petale-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.wrapper body, .wrapper p {
    font-family: 'GothamBold', sans-serif!important;
}

.wrapper h1 {
  font-family: 'PetaleMedium', sans-serif!important;
}
